<plugin name='modify-beans' version='0.1' grailsVersion='1.1.1 &gt; *'>
  <author>Peter Ledbrook</author>
  <title>Modify Beans (for Grails functional tests)</title>
  <description>\
This plugin exists purely to test that plugins can modify existing bean
definitions.
</description>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>HomeController</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>