<plugin name='album-art' version='0.1'>
  <author>Graeme Rocher</author>
  <authorEmail>graeme@g2one.com</authorEmail>
  <title>A plug-in that provides facilities to look-up album art</title>
  <documentation>http://grails.org/AlbumArt+Plugin</documentation>
  <resources>
    <resource>com.g2one.gtunes.AlbumArtService</resource>
    <resource>com.g2one.gtunes.AlbumArtTagLib</resource>
    <resource>com.g2one.cache.CacheService</resource>
    <resource>com.g2one.cache.CacheTagLib</resource>
  </resources>
  <dependencies>
    <plugin name='simpleCache' version='0.1 &gt; *' />
  </dependencies>
</plugin>