<plugin name='test-plugin' version='0.4'>
  <author>Your name</author>
  <title>Plugin summary/headline</title>
  <documentation>http://grails.org/TestPlugin+Plugin</documentation>
  <resources>
    <resource>TestPluginController</resource>
    <resource>FeedsTagLib</resource>
  </resources>
  <dependencies>
    <plugin name='feeds' version='1.4' />
    <plugin name='simpleplugin' version='0.1' />
  </dependencies>
</plugin>