/*
-------------------------------------------------------
IE-Specific Screen Stylesheet
Author:   Ben Edwards  // refactr.com
Version:  02 Feb 2008
---------------------------------------------------- */

html, body {
	overflow-x: hidden; /* hacky and bad but IE is sucking right now */
}

.subpage #content {
	float: left;
	clear: both;
	width: 640px;
	padding: 10px 280px 9em 30px;
}

.subpage h1 {
	top: 9px;
}

#footer {
	background: #82866b url('../img/footer-bg.gif') top middle no-repeat;
	position: relative;
	top: 150px;
	margin: 0 auto;
	padding: 0px 0px 91px 0px;
	color: #333;
}

.subpage #footer {
	position: relative;
	top: 20px;
	margin: 0px auto 0px auto;
	padding: 0px 0px 0px 0px;
	width: 100%;
	height: 17em; /* .push must be the same height as .footer */
}

#footerContent {
	width: 870px;		
	padding: 66px 0px 0px 45px;
}

#downloadLink {
	position: absolute;
	top: 515px;
	left: 690px;
	width: 275px;
	font-size: 1em;
	font-weight: 700;
	color: #666;
	line-height: 1.35em;
}
