li.comment {
    background-color: #d9dada;
    margin: 0px;
    padding: 0px;
    /*border: 1px solid #666;*/
}

li.odd {
    background-color: #c6d1da;    
}

.comment table {
    width: 100%;
    border: none;
    padding: 0px;
    margin: 0px;
}
.comment table td.body {
    padding: 10px;
}

.comment .permalink {
    float:right;
}

.comment .author {
    text-align: right;
    padding-right: 10px;
}
.comment .date {
    padding-left: 10px;
}
.comment .permalink, .comment .date {
    font-size: 8pt;
}

.comment .commentAvatar {
    float: left;
    margin: 0px 10px 10px 0px;
}

.comment .commentBody {
    font-size: 10pt;    
}

#postComment form {
    width: 510px;
}

#postComment textarea {
    width: 500px;
    height: 200px;
    margin-bottom: 10px;
}

#commentForm {
    text-align:right;
}

#commentList {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.comments a.anchor:hover {
    border: none;
    color: inherit;
}

#postBoxTrigger:hover {
    text-decoration: underline;
}

.commentBody .code {
    width: 500px;
}

