.comment {
    background-color: #b7bfc6;
    margin: 20px;
    padding: 20px;
    border: 1px solid #666;
}

.comment .author {
    margin: 10px;
}

#postComment form {
    width: 510px;
}

#postComment textarea {
    width: 500px;
    height: 200px;
    margin-bottom: 10px;
}

#commentForm {
    text-align:right;
}

#commentList {
    list-style-type: none;
}

.comments a.anchor:hover {
    border: none;
    color: inherit;
}