.comment {
    margin: 20px;
    padding: 20px;
    border: 1px solid green;
}

.comment .author {
    margin: 10px;
}

.postComment form {
    width: 510px;
}

.postComment textarea {
    width: 500px;
    height: 200px;
    margin-bottom: 10px;
}

#commentForm {
    text-align:right;
}