.diffOutput {
    padding: 10px;
    margin: 10px;
    margin-top: 40px;
    border: 2px solid #265c8f;
    width: 550px;
}

.wikiActionMenu {
    padding: 0;
    margin: 0;
    /*color: #fff;*/
    /*font-family: arial, helvetica, sans-serif;*/
    white-space: nowrap;
    list-style-type: none;
}

.wikiActionMenu li {
    display: inline;
}

.wikiActionMenu li a {
    padding: 0.2em 1em;
    /*background: #fc6;*/
    /*color: #000;*/
    text-decoration: none;
    /*float: left;*/
    border: none;
}

.wikiActionMenu li a:hover {
    /*background: #08c;*/
    /*color: #fff;*/
}

.wikiLinks {
    height: 18px;
    margin-bottom: 10px;
}