/*
-------------------------------------------------------
Homepage Screen Stylesheet
Author:   Ben Edwards  // refactr.com
Version:  02 Feb 2008
---------------------------------------------------- */

.logo {
	position: absolute;
	top: 20px;
	left: 40px;
}

#headline {
	position: absolute;
	top: 0px;
	left: 200px;
	color: #fff;
	font-size: 2.5em;
	line-height: 1.2em;
	letter-spacing: -0.04em;
	padding: 15px 30px;
}

#headline cite {
	float: right;
	font-size: 0.6em;
	letter-spacing: 0.01em;
} 

#watch, #listen, #read {
	position: absolute;
	top: 180px;
	color: #fff;
	font-size: 1.25em;
	letter-spacing: -0.02em;
	padding: 5px 5px 5px 90px;
}

#watch a, #listen a, #read a {
	font-weight: 700;
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid #fff;
}

#watch {
	background: url('../images/watch.png') 0 3px no-repeat;
	top: 205px;
	left: 50px;
}

#listen {
	background: url('../images/listen.png') 7px 3px no-repeat;
	top: 245px;
	left: 50px;
}

#read {
	background: url('../images/read.png') 15px 3px no-repeat;
	top: 282px;
	left: 50px;
}

#floatBox {
	position: absolute;
	float: right;
	top: 100px;
	left: 670px;
	background-color: #ddd;
	width: 265px;
	z-index: 100;
	margin: 20px 15px 20px 20px;
	-moz-border-radius: 18px;
	border: 2px solid #fff;
}

/* blog styles 													
------------------------------------------------------- */

#blog {
	position: relative;
	top: 325px;
	left: 60px;
	width: 615px;
	height: 300px;
	font-size: 1.2em;
	line-height: 1.25em;
}

.blogpost h2 a:link,
.blogpost h2 a:visited {
	display: block;
	font-size: 1.8em;
	line-height: 1.6em;
	letter-spacing: -0.04em;
	font-weight: 300;
	border-bottom: none;
}

.blogpost h2 a:hover,
.blogpost h2 a:active {
	border-bottom: none;
	text-decoration: underline;
}

.meta {
	margin: 15px 0px 0px 0px;
	font-size: 0.8em;
	text-transform: uppercase;
	color: #666;
}

.meta a:link,
.meta a:visited {
	border-bottom: 0;
}

.meta a:hover,
.meta a:active {
	border-bottom: 1px solid;
}

.moreLink {
	position: relative;
	top: 14px;
	background-color: #ddd;
	width: 165px;
	padding: 3px 8px;
	font-size: 0.8em;
	text-transform: uppercase;
}

.moreLink a:link,
.moreLink a:visited {
	border-bottom: none;
}

.moreLink a:hover,
.moreLink a:active {
	border-bottom: 1px solid;
}



/* confluence-specific styles */												

.blogHeading a:link,
.blogHeading a:visited {
	display: block;
	font-size: 1.8em;
	line-height: 1.3em;
	letter-spacing: -0.04em;
	color: #333;
	font-weight: 300;
	border-bottom: none;
}

.blogHeading a:hover,
.blogHeading a:active {
	border-bottom: none;
	text-decoration: underline;
}

.blogSurtitle {
	display: none;
}

.blogpost {
	margin-bottom: 10px;
}

.endsection {
	margin: 15px 0px 0px 0px;
	font-size: 0.8em;
	text-transform: uppercase;
	color: #666;	
}

.endsection a:link,
.endsection a:visited {
	border-bottom: 0;
}

.endsection a:hover,
.endsection a:active {
	border-bottom: 1px solid;
}

/* download block styles 													
------------------------------------------------------- */

#downloadLink {
	position: absolute;
	top: 505px;
	left: 690px;
	width: 275px;
	font-size: 1em;
	font-weight: 700;
	color: #666;
	line-height: 1.35em;
}	

#downloadLink h3 {
	font-size: 1.5em;
	margin: 0px 0px 5px 0px;
}

#downloadLink h3 a {
	color: #f07816;
	border-bottom: none;
}

#downloadLink a:link,
#downloadLink a:visited {
	border-bottom: none;
}

#downloadLink a:hover,
#downloadLink a:active {
	border-bottom: 1px solid;
}


#feedLink {
    float:right;
    border:none;
}
#feedLink a:active,#feedLink a:visited,#feedLink a:link {
    text-decoration:none;
    border:none;
}
/* bite-sized area styles 													
------------------------------------------------------- */

#biteSized {
	position: relative;
	top: 306px;
	left: 0px;
	background: #002445 url('../images/biteSized-bg.gif') top left repeat-y;
	color: #fff;
	width: 885px;
	height: 720px;
	padding: 20px 31px 20px 65px;
	font-size: 1.1em;
	line-height: 1.3em;
}

#biteSized h3 {
	font-size: 1.3em;
	margin: 0px 0px 10px 0px;
}

#biteSized h4 {
	color: #667c8f;
	text-transform: uppercase;
	margin: 25px 0px 15px 0px;
	clear: both;
	line-height: 0.8em;
	border-bottom: 1px solid #667c8f;
}

#biteSized ul {
	float: left;
  	width: 70em;
  	margin: 0px 0px 0px 0px;
  	padding: 0;
  	list-style: none;
}
 
#biteSized li {
  	float: left;
  	width: 21em;
  	margin: 0px 20px 15px 0px;
  	padding: 0;
	font-size: 0.9em;
}

#biteSized h5 a:link,
#biteSized h5 a:visited {
	color: #fff;
	line-height: 1.8em;
	font-size: 1.2em;
	text-decoration: none;
	border-bottom: none;
}

#biteSized h5 a:hover,
#biteSized h5 a:active {
	border-bottom: 1px solid #fff;;
}

#biteSized img {
  	float: left;
  	margin: 10px 10px 60px 0px;
	border: none;
}

#biteSized a:link, 
#biteSized a:visited,
#biteSized a:hover,
#biteSized a:active {
	color: #fff;
}

#ads {
	position: relative;
	float: right;
	width: 200px;
	padding: 0px 0px 20px 20px;
}

/* footer styles 													
------------------------------------------------------- */

#footer {
	background: #82866b url('../images/footer-bg.gif') top middle no-repeat;
	position: relative;
	top: 70px;
	margin: 0em auto;
	padding: 0px 0px 90px 0px;
	width: 100%;
	color: #333;
}

#footer a:link,
#footer a:visited {
	font-weight: 700;
	border: none;
}

#footer a:hover,
#footer a:active {
	font-weight: 700;
	border-bottom: 1px solid;
}

#footerNav {
	position: relative;
	top: -92px;
	background-color: #82866b;
	width: 490px;
	margin: 0px auto;
	padding: 3px;
	text-align: center;
}

#footerContent {
	position: relative;
	top: 80px;
	width: 870px;
	height: 48px;
	margin: 0px auto 0px auto;
	padding: 25px 0px 0px 45px;
	text-align: left;
	line-height: 1.6em;
}


#footerNav li {
	list-style-type: none;
	display: inline;
	margin: 0px 15px;
	text-transform: uppercase;
}

#footerNav li a:link, 
#footerNav li a:visited {
	font-weight: 300;
	color: #fff;
	text-decoration: underline;
	border: none;
}

#footerNav li a:hover, 
#footerNav li a:active {
	text-decoration: underline;
}