#feedLink {
    position:absolute;
    right:300px;
    top:150px;
    border:none;
}
#feedLink a:active,#feedLink a:visited,#feedLink a:link {
    text-decoration:none;
    border:none;
}

.job-table  {

    margin:10px;
    padding:5px;
    width:90%;
}
.job-table td  {
    border-bottom:1px dotted gray;
    border-top:0px;
    margin:10px;
    padding:5px;
    
}
.job-table th  {
    
    border:none;
    border-top:0px;
    
    padding:5px;
    border-bottom:1px dotted gray;

    
    color:#014684;
}

.job {

    border:1px solid #014684;
    margin:10px;
    padding:5px;
    width:90%;
}
.job .name {
    font-weight:bold;
}
.jobDescription {
    margin-top:0px;
    margin-bottom:20px;
    margin-left:10px;
    padding:5px;
    font-style:italic;
}