.plugin {
    width: 600px;
}

.plugin table {
    border: solid #456145 1px;
    padding: 10px;
    width: 600px;
}

.plugin table.official {
    background: #a5d7a5 url(../images/springsource.png) bottom right no-repeat;
}

.plugin .tag {
    margin:2px;
    background-color: #6788a9;
    color: #021b31;
    padding: 2px 4px;
    border: 1px solid #536a82;
    white-space: nowrap;
}

.plugin .tag a {
    text-decoration: none;
    border: none;
}

.plugin .tag img {
    margin-bottom: -3px;
    opacity: 0.75;
}

#pluginTags {
    line-height: 25px;
    overflow: auto;
}

#addTagTrigger img {
    margin-bottom: -3px;
    margin-left: 3px;
}

.plugin .unit-rating li {
    float: none;
    line-height: 0px;
}

.plugin .unit-rating li a {
    border: none;
}

.plugin #loginForm {
    width: 500px;
}

.actionIcon {
    white-space: nowrap;
}