.plugin {
    width: 600px;
}

.plugin div.supported {
    text-align: right;
}

.plugin table {
    border: solid #456145 1px;
    padding: 10px;
    width: 600px;
}

.plugin table.official {
    background: url(../images/springsource.png) bottom right no-repeat;
}

.plugin .tag {
    margin:2px;
    background-color: #6788a9;
    color: #021b31;
    padding: 2px 4px;
    border: 1px solid #536a82;
    white-space: nowrap;
}

.plugin .tag a {
    text-decoration: none;
    border: none;
}

.plugin .tag img {
    margin-bottom: -3px;
    opacity: 0.75;
}

#pluginTags {
    line-height: 25px;
    overflow: auto;
}

#addTagTrigger img {
    margin-bottom: -3px;
    margin-left: 3px;
}

.plugin .unit-rating li {
    float: none;
    line-height: 0px;
}

.plugin .unit-rating li a {
    border: none;
}

.plugin #loginForm {
    width: 500px;
}

.actionIcon {
    white-space: nowrap;
}

ul#infoLinks li {
    list-style-type: none;
}

ul#infoLinks {
    position: absolute;
    top: 0px;
    right: 300px;
    float:right;
    text-align: left;
    line-height: 20px;
    z-index: 100;
}

ul#infoLinks a {
    text-decoration: none;
}
ul#infoLinks .home {
    background: url(../images/skin/house.png) center left no-repeat;
    padding-left: 25px;
}
ul#infoLinks .list {
    background: url(../images/famfamfam/application_view_list.png) center left no-repeat;
    padding-left: 25px;
}
ul#infoLinks .create {
    background: url(../images/famfamfam/plugin_add.png) center left no-repeat;
    padding-left: 25px;
}
ul#infoLinks .edit {
    background: url(../images/famfamfam/plugin_edit.png) center left no-repeat;
    padding-left: 25px;
}
ul#infoLinks .show {
    background: url(../images/famfamfam/plugin.png) center left no-repeat;
    padding-left: 25px;
}
ul#infoLinks .cloud {
    background: url(../images/famfamfam/weather_clouds.png) center left no-repeat;
    padding-left: 25px;
}