.plugin {
    width: 600px;
}

.official {
    background: transparent url(../images/springsource.png) top right no-repeat;
}

.plugin table {
    border: solid black 1px;
    padding: 10px;
}

.plugin .unit-rating li {
    float: none;
    line-height: 0px;
}

.plugin .unit-rating li a {
    border: none;
}