.plugin {
    width: 600px;
}

.plugin div.supported {
    text-align: right;
}

.plugin table {
    padding: 0px 10px;
    width: 600px;
}

.plugin table.official {
    background: url(../images/springsource.png) bottom right no-repeat;
}

.plugin table td.tags {
    line-height: 2.5em; /* this is for IE */
}

.plugin .tag {
    margin:2px;
    background-color: #6788a9;
    color: #021b31;
    padding: 2px 4px;
    border: 1px solid #536a82;
    /*white-space: nowrap;*/
}

.plugin .tag a {
    text-decoration: none;
    border: none;
}

.plugin .tag img {
    margin-bottom: -3px;
    opacity: 0.75;
}

#pluginTags {
    line-height: 25px;
    overflow: auto;
}

#addTagTrigger img {
    margin-bottom: -3px;
    margin-left: 3px;
}

.plugin .unit-rating li {
    float: none;
    line-height: 0px;
}

.plugin .unit-rating li a {
    border: none;
}

.plugin #loginForm {
    width: 500px;
}

.actionIcon {
    white-space: nowrap;
}

ul#infoLinks li {
    list-style-type: none;
}

ul#infoLinks {
    position: absolute;
    top: 0px;
    right: 300px;
    float:right;
    text-align: left;
    line-height: 20px;
    z-index: 100;
}

ul#infoLinks a {
    text-decoration: none;
}
ul#infoLinks .home {
    background: url(../images/skin/house.png) center left no-repeat;
    padding-left: 25px;
}
ul#infoLinks .list {
    background: url(../images/famfamfam/application_view_list.png) center left no-repeat;
    padding-left: 25px;
}
ul#infoLinks .create {
    background: url(../images/famfamfam/plugin_add.png) center left no-repeat;
    padding-left: 25px;
}
ul#infoLinks .edit {
    background: url(../images/famfamfam/plugin_edit.png) center left no-repeat;
    padding-left: 25px;
}
ul#infoLinks .show {
    background: url(../images/famfamfam/plugin.png) center left no-repeat;
    padding-left: 25px;
}
ul#infoLinks .feed {
    background: url(../images/famfamfam/feed.png) center left no-repeat;
    padding-left: 25px;
}
ul#infoLinks .cloud {
    background: url(../images/famfamfam/weather_clouds.png) center left no-repeat;
    padding-left: 25px;
}

/* alterations to the wiki style within tab view */
.yui-content .code {
	background-color:#F7F8F2;
	width:90%;
	padding:10px;
	border:2px solid white;
}

/* code styles
------------------------------------------------------- */

.java-keyword {
    font-weight: bold;
    color: darkblue;
}

.code .code-object {
    font-weight: bold;
    color: purple;
}

.java-quote {
    color: darkred;
    font-weight: normal;
}

.java-quote .java-keyword {
    color: inherit;
    font-weight: inherit;
}

.code .xml-tag {
    color: #222;
}

.code .xml-quote {
    color: darkred;
}

/* rounded corner table */
.roundedcornr_box {
	background: url(../images/corners/tl.png) no-repeat top left;
}
.roundedcornr_top {
	background: url(../images/corners/tr.png) no-repeat top right;
}
.roundedcornr_bottom {
	background: url(../images/corners/bl.png) no-repeat bottom left;
}
.roundedcornr_bottom div {
	background: url(../images/corners/br.png) no-repeat bottom right;
}
.roundedcornr_content {
	background: url(../images/corners/r.png) top right repeat-y;
}

.roundedcornr_top div,.roundedcornr_top,
.roundedcornr_bottom div, .roundedcornr_bottom {
	width: 100%;
	height: 10px;
	font-size: 1px;
}
.roundedcornr_content, .roundedcornr_bottom {
	margin-top: 0px;
}
.roundedcornr_content { padding: 0px; }

/* tab styling */
.yui-skin-sam .yui-navset .yui-nav .selected a {
    background-color: #013161;
}