#pluginHomeWiki {
    border: solid gray;
    border-width: 1px 0px;
    padding-top: 10px;
}
.searchBox {
    margin: 10px;
}

.pluginTagCloud {
    margin: 20px 30px 10px 30px;
}
#statsTable td.section {
    vertical-align: top;
    width: 33.33%;
}

.wikiActionMenu {
    float:right;
}

.shortComment {
    padding: 3px 10px;
}
.shortComment .user {
    width: 100%;
    text-align: right;
}