form.rating {
    padding: 1em;
    border: 1px solid #ccc;
}

.rating {
    cursor: pointer;
    clear: both;
    display: block;
}

.rating:after {
    content: '.';
    display: block;
    height: 0;
    width: 0;
    clear: both;
    visibility: hidden;
}

div.star {
    float: left;
    width: 17px;
    height: 15px;
    overflow: hidden;
    text-indent: -999em;
    cursor: pointer;
}

div.star, div.star a {
    background: url(../images/star.gif) no-repeat 0 0px;
}

div.star a {
    display: block;
    width: 100%;
    height: 100%;
    background-position: 0 0px;
}

div.rating div.on a {
    background-position: 0 -16px;
}

div.rating div.hover a,
    div.rating div a:hover {
    background-position: 0 -32px;
}

div#notifytext {
    margin-top: 5px;
    font-size: .8em;
    clear: both;
}

#ratingdiv {
    height: 12px;
}