.result {
    margin-top: 3em;
    margin-bottom: 3em;
}

.result .displayLink {
    color: green;
}

.result .name {
    font-size: 1.4em;
}

.result .desc {
    margin-top: 5px;
    padding: 10px;
}

.paging a.step {
    margin-left: 5px;
    margin-right: 5px;
}

.paging span.currentStep {
    font-weight: bold;
}