/*
-------------------------------------------------------
Subpage Screen Stylesheet
Author:   Ben Edwards  // refactr.com
Version:  02 Feb 2008
---------------------------------------------------- */

body.subpage {
	background-color: #edeeef;
	background-image: none;
}

.subpage .logo {
	position: absolute;
	top: 10px;
	left: 40px;
}

.subpage #breadcrumb {
	position: absolute;
	top: 65px;
	left: 64px;
	margin: 0px;
	padding: 0px;
}

.subpage #breadcrumb ul {
	margin: 0px;
	padding: 0px;
}

.subpage #breadcrumb ul li {
	display: inline;
	list-style-type: none;
	color: #fff;
	font: 300 1.3em/1.2em Verdana, Arial, sans-serif;
	letter-spacing: -0.01em;
}

.subpage #breadcrumb ul li a:link,
.subpage #breadcrumb ul li a:visited {
	color: #fff;
	text-decoration: none;
	border: none;
}

.subpage #breadcrumb ul li a:hover,
.subpage #breadcrumb ul li a:active {
	color: #fff;
	text-decoration: underline;
}

/* layout styles 													
------------------------------------------------------- */

.subpage #container {
	background: #ddd url('../images/subpage-masthead-bg.jpg') top left no-repeat;
	position: relative;
	width: 981px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em; /* the bottom margin is the negative value of the footer's height */
	padding: 0px;
	text-align: left;	
}

.subpage #content-container {
	width:620px;
}
.subpage #content {
	background-color: #fff;
	position: relative;
	min-height: 780px;
	top: 88px;
	left: 31px;
	width: 890px;
	margin: 0px;
	padding: 10px 30px 9em 30px;
	line-height: 1.6em;
}

#statusbox {
    right:30px;
    top:5px;
    color:white;
    position:absolute;
    font: 300 0.95em Arial, sans-serif;
}
#statusbox a:link, #statusbox a:visited {
    color: #fff;    
}

#floatBox {
	position: relative;
	float: right;
	background-color: #ddd;
	width: 265px;
	z-index: 100;
	margin: 30px 15px 20px 20px;
	-moz-border-radius: 18px;
	border: 2px solid #fff;
}

/* sidebar styles 													
------------------------------------------------------- */

#sidebarAds {
	position: relative;
	float: right;
	clear: both;
	top: 0px;
	right: 0px;
	width: 240px;
	z-index: 1000;
}

#sidebarAds p {
	margin: 20px 0px 0px 0px;
}

#sidebarAds a:link,
#sidebarAds a:visited {
	border: none;
}

#sidebarAds img {
	margin: 0px 0px 0px 20px;
}

#sidebarAds h4 {
	color: #666;
	margin: 0px 0px 0px 20px;
	padding: 0px;
}

/* code styles
------------------------------------------------------- */

.java-keyword {
    font-weight: bold;
    color: darkblue;
}

.code .code-object {
    font-weight: bold;
    color: purple;
}

.java-quote {
    color: darkred;
    font-weight: normal;
}

.code .code-comment, .code .code-comment * {
    color: green;
    font-weight: normal;
}

/* footer styles 													
------------------------------------------------------- */

#footer a:link,
#footer a:visited {
	font-weight: 700;
	border: none;
}

#footer a:hover,
#footer a:active {
	font-weight: 700;
	border-bottom: 1px solid;
}

#footerNav li {
	list-style-type: none;
	display: inline;
	margin: 0px 15px;
	text-transform: uppercase;
}

#footerNav li a:link, 
#footerNav li a:visited {
	font-weight: 300;
	color: #fff;
	text-decoration: underline;
	border: none;
}

#footerNav li a:hover, 
#footerNav li a:active {
	text-decoration: underline;
}

#footer {
	background: #82866b url('../images/subpage-footer-bg.gif') top center no-repeat;
	position: relative;
	margin: 0px auto 0px auto;
	padding: 40px 0px 22px 0px;
	width: 100%;
	height: 8em; 
}

#footerNav {
	position: relative;
	top: -92px;
	background-color: #82866b;
	width: 490px;
	margin: 0px auto;
	padding: 3px;
	text-align: center;
}

#footerContent {
	width: 870px;
	height: 48px;
	margin: 40px auto 0px auto;
	padding: 25px 0px 0px 45px;
	text-align: left;
	line-height: 1.6em;
}

#partners {
	position: relative;
	top: -70px;
	left: 300px;
	width: 300px;
	margin: 0px auto;	
}

#partners ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width: 120px;
}

#partners ul li {
	display: inline;
	margin: 0px;
	padding: 0px 4px;
}

#partners ul li img {
	vertical-align: middle;
}

.subpage h1 {
	position: absolute;
	top: 10px;
	right: 310px;
	text-align: right;
	margin: 0px 0px 10px 0px;
	font: 300 2.75em/2.2em Arial, sans-serif;
	letter-spacing: -0.02em;
	text-transform: uppercase;
	color: #265c8f;
}

#content h1  {
	position:relative;
	top:0px;
	left:0px;
	text-align:left;
	margin: 10px 0px 10px 0px;
	font: 700 2.2em/2.2em Arial, sans-serif;
	letter-spacing: -0.01em;
	text-transform: capitalize;
	color: #002445;
}

#content p  {
	margin-bottom:10px;
}
#content h2  {
	margin-bottom:10px;
}
#content h3  {
	margin-bottom:10px;
}
#content h4  {
	margin-bottom:10px;
}
#content pre  {
	margin-bottom:10px;
}





.subpage h2 {
	margin: 10px 0px 10px 0px;
	font: 700 1.8em/1.8em Arial, sans-serif;
	letter-spacing: -0.01em;
	text-transform: capitalize;
	color: #002445;
}

.subpage h3 {
	display: block;
	width: 620px;
	border-bottom: 1px solid #002445;
	margin: 0px 0px 10px 0px;
	padding: 0px;
	font: 700 1em/1.2em Arial, sans-serif;
	text-transform: uppercase;
	color: #002445;
}

#results h1 { font: 700 1.0em Arial, sans-serif; }
#results h2 { font: 700 1.0em Arial, sans-serif; }
#results h3 { font: 700 1.0em Arial, sans-serif; }
#results h4 { font: 700 1.0em Arial, sans-serif; }