/*div { background: cyan;}*/
#springSourceBar {
    height: 60px;
    margin-left: 180px;
    margin-top: -8px;
    background: url(../../images/new/springsource-logo.png) no-repeat left top;
}

#graphicHeader {
    width: 100%;
    height: 439px;
    background: url(../../images/new/top_branding.jpg) repeat scroll center top;
}

#contentWrapper {
    background: url(../../images/new/top_bar.png) repeat-x scroll center top;
    width: 100%;
}

#barDecoration {
    position: absolute;
    width: 129px;
    height: 86px;
    top: 557px;
    left: 140px;
    background: url(../../images/new/bar_decoration.png) no-repeat top left
}

#contentArea {
    width: 880px;
    text-align: left;
}

#grailsAttributes {
    margin-bottom: -260px;
}

#grailsAttributes div {
    background: url(../../images/new/top_box.png) no-repeat top left;
    position: relative;
    width: 263px;
    height: 122px;
    overflow: hidden;
    font-size: 11pt;
}

#grailsAttributes div h2 {
    font-size: 16pt;
    text-transform: uppercase;
    padding: 7px 0px 8px 40px;
    margin: 7px 0px 10px 14px;
}

#grailsAttributes div p {
    font-size: 10pt;
    margin: -10px 0px 0px 25px
}

#grailsAttributes div.left {
    left: 0px;
    top: -20px;
}
#grailsAttributes div.left h2 {
    background: url(../../images/new/rapid_icon.png) no-repeat top left;
}

#grailsAttributes div.center {
    left: 309px;
    top: -142px;
}
#grailsAttributes div.center h2 {
    background: url(../../images/new/dynamic_icon.png) no-repeat top left;
}

#grailsAttributes div.right {
    left: 616px;
    top: -264px;
}
#grailsAttributes div.right h2 {
    background: url(../../images/new/robust_icon.png) no-repeat top left;
}
