/*div { background: cyan;}*/


#graphicHeader {
    width: 100%;
    height: 439px;
    background: url(../../images/new/top_branding.jpg) repeat scroll center top;
}

#contentWrapper {
    background: url(../../images/new/top_bar.png) repeat-x scroll center top;
    width: 100%;
}

/* TODO: This decoration doesn't move properly with the center page element when the window is resized */
#barDecoration {
    position: absolute;
    width: 129px;
    height: 86px;
    top: 557px;
    left: 140px;
    background: url(../../images/new/bar_decoration.png) no-repeat top left
}

#contentArea {
    width: 910px;
    text-align: left;
}

#grailsAttributes {
    margin-bottom: -220px;
}

#grailsAttributes div {
    background: url(../../images/new/top_box.png) no-repeat top left;
    position: relative;
    width: 263px;
    height: 122px;
    overflow: hidden;
    font-size: 11pt;
}

#grailsAttributes div h2 {
    font-size: 16pt;
    text-transform: uppercase;
    padding: 7px 0px 8px 40px;
    margin: 7px 0px 10px 14px;
}

#grailsAttributes div p {
    font-size: 10pt;
    margin: -10px 0px 0px 25px
}

#grailsAttributes div.left {
    left: 0px;
    top: -20px;
}
#grailsAttributes div.left h2 {
    background: url(../../images/new/rapid_icon.png) no-repeat top left;
}

#grailsAttributes div.center {
    left: 325px;
    top: -142px;
}
#grailsAttributes div.center h2 {
    background: url(../../images/new/dynamic_icon.png) no-repeat top left;
}

#grailsAttributes div.right {
    left: 646px;
    top: -264px;
}
#grailsAttributes div.right h2 {
    background: url(../../images/new/robust_icon.png) no-repeat top left;
}

.eventDownloadWrapper {
    width: 910px;
    height: 210px;
    position: relative;
    margin-bottom: 30px;
}

#events {
    background: url(../../images/new/events_back.jpg) no-repeat top left;
    width: 325px;
    height: 200px;
    overflow: hidden;
    position: absolute;
    top: 2px;
    left: 3px;
}

#events h3 {
    color: #363636;
    margin: 6px 0px 0px 27px;
    padding: 0px;
    font-weight: normal;
    font-size: 18pt;
}

#events ul {
    margin-left: 28px;
    padding: 0px;
    line-height: 0px;
}

#events li {
    font-size: 8pt;
    color: #6B6B6B;
    list-style: none;
    margin-bottom: 23px;
}

#events li h4 {
    font-size: 9pt;
    font-weight: bold;
    color: #48802C;
}

#globeGraphic {
    background: url(../../images/new/globe.png) no-repeat top left;
    width: 83px;
    height: 79px;
    position: absolute;
    top: 181px;
    left: 233px;
}

#downloadBox {
    background: url(../../images/new/DownloadPlugin_box.png) no-repeat top left;
    width: 585px;
    height: 207px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 321px;
    font-size: 8pt;
}

.downloadPluginWrapper {
    position: relative;
    width: 585px;
    height: 207px;
}

.downloadPluginWrapper div {
    height: 114px;
    padding: 77px 0px 0px 21px;
}

#download {
    background: url(../../images/new/download_button.png) no-repeat top left;
    margin: 15px 0px 0px 11px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 215px;
}

#plugins {
    background: url(../../images/new/plugins_button.png) no-repeat top left;
    margin: 15px 0px 0px 11px;
    position: absolute;
    top: 0px;
    left: 295px;
    width: 215px;
}

#plugins ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#download h3, #plugins h3 {
    display: none;
}

#download h4, #plugins h4 {
    text-transform: uppercase;
    position: absolute;
    bottom: 0px;
}

.newsScreencastWrapper {
    width: 910px;
    position: relative;
    margin: 0px 0px 330px 0px;
}

.newsScreencastWrapper #latestNews, .newsScreencastWrapper #screencasts {
    height: 245px;
    padding: 0px;
}

#latestNews {
    position: absolute;
    top: 3px;
    left: 0px;
}

#newsBox {
    background: url(../../images/new/news_box.png) no-repeat top left;
    width: 582px;
    height: 240px;
    overflow: hidden;
    font-size: 8pt;
    line-height: 0px;
}

#newsBox ul {
    margin: 14px 0px 0px 0px;
    padding: 0px;
    list-style: none;
}

#newsBox li {
    color: #96937D;
    margin: 6px 10px;
    width: 560px;
    height: 60px;
}

#newsBox .detail {
    background: url(../../images/new/news_text_back.png);
    float: right;
    width: 488px;
    margin-right: 2px;
    height: 58px;
    padding-left: 6px;
}

#newsBox .detail h4 {
    color: #3C4D2B;
    font-size: 12pt;
    margin-top: 11px;
}

#newsBox .detail div {
    height: 14px;
}

#newsBox .author {
    text-transform: uppercase;
}

#newsBox .calendar {
    background: url(../../images/new/calendar_box.png) no-repeat top left;
    width: 56px;
    height: 58px;
    margin-left: 4px;
}

#newsBox .calendar .month, #newsBox .calendar .day {
    text-align: center;
    font-weight: bold;
}

#newsBox .calendar .month {
    color: #FFF;
    font-size: 10pt;
    padding-top: 10px;
}

#newsBox .calendar .day {
    font-size: 18pt;
    padding-top: 26px;
}

#newsBox .actions {
    clear: both;
}

#screencasts {
    position: absolute;
    top: 0px;
    left: 634px;    
}

.castBox {
    background: url(../../images/new/screencast_box.png) no-repeat top left;
    width: 269px;
    height: 245px;
    overflow: hidden;
}

#latestNews h2, #screencasts h2 {
    font-weight: bold;
    color: #363636;
    font-size: 10pt;
    margin: 0px 0px 0px 8px;
    padding: 0px;
}
