#contentWrapper {
    background: url(../../images/new/plugins/background_stretch.jpg) repeat-x top;
	margin:0px;
	width:100%;
}
#contentCenter {
    background: url(../../images/new/plugins/background.jpg) no-repeat left top;
	min-height:800px;
}

#contentLogo {
	width:380px;
	padding-left:35px;
	text-align:left;
	position:absolute;
	top:-110px;
}
body {
	margin-left:0px;
	margin-right:0px;
}

#footer .twitter {
    background: none;
    width: 69px;
    height: 78px;
    position: absolute;
    top: -17px;
    left: 20px;
}
#pluginBgTop {
	background:url(../../images/new/plugins/plugins_topnav.png) no-repeat center bottom;	
	height:94px;
	margin-bottom:0px;
}
#pluginBox {
	background:url(../../images/new/plugins/fullpagePlugin_top.png) no-repeat center top;	
	height:308px;
	padding-left:30;
	margin-top:0px;
	position:relative;
	top:-20px;
	text-align:left;
}
#pluginDetailsContainer {
	text-align:left;
	width:1008px;	
}
#pluginContent {
	background: url(../../images/new/plugins/fullpagePlugin_mid.png) repeat-y center top;	
	background-position: center;
	margin-top:22px;
}
.yui-content a {
	color:#48802C;
	text-decoration:none;
}
#statusbox {
	margin-left:130px;
}
.yui-content {
	text-align:left;
	width:1008px;
	min-height:200px;
	padding-top:0px;
	padding-left:50px;
	padding-bottom:15px;
}
.pluginBoxBottom {
	background: url(../../images/new/plugins/fullpagePlugin_btm.png) no-repeat center top;		
	height:55px;
}

#pluginBoxTitle {
	padding-left:30px;
	padding-top:20px;
	font-weight:normal;
	font-size:1.5em;
}
#pluginBox .ratingBox {
	margin-top:10px;	
	margin-left:30px;
	padding-bottom:10px;
}
#pluginBox table {

	margin-left:30px;
	font-size:0.9em;	
	width:900px;
}
#pluginBox table tr th {
	text-transform: uppercase;
	font-weight:normal;
	color:#767676;
}
#downloadBox {
	float:right;
	margin-top:15px;
	margin-right:15px;
}
#pluginBox .links {
	padding-top:20px;
	padding-left:30px;
	padding-bottom:13px;
	font-size:0.9em;
	margin:0px;
}
#pluginBox .links div {
	display:inline;
	padding-right:20px;
}
#pluginBox .links  a { color: black; border: inherit; text-decoration: none;}

.yui-nav li .tabLeft {
	background: url(../../images/new/plugins/tab_down_leftcrnr.png) no-repeat center top;	
	padding-left:5px;
	padding-top:5px;
	padding-bottom:5px;
	
}
.yui-nav li .tabRight {
	background: url(../../images/new/plugins/tab_down_Rightcrnr.png) no-repeat center top;	
	padding-left:5px;
	padding-top:5px;
	padding-bottom:5px;	
}



.yui-nav li.selected .tabLeft  {
	background: url(../../images/new/plugins/tab_up_leftcrnr.png) no-repeat center top;	
	padding-left:5px;
	padding-top:5px;
	padding-bottom:5px;
	
}
.yui-nav li.selected .tabRight {
	background: url(../../images/new/plugins/tab_up_Rightcrnr.png) no-repeat center top;	
	padding-left:5px;
	padding-top:5px;
	padding-bottom:5px;
	
}

.yui-nav li.selected a em {
	background: url(../../images/new/plugins/tab_up_mid.png) repeat-x center top;	
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
}

.tabOuter  {
	position:relative;
	top:-20px;
	padding-left:30px;
	text-align:left;
	width:1008px;
}
#pluginDetailWrapper {
	height:286px;
}

.yui-content h1,.yui-content h2,.yui-content h3,.yui-content h4,.yui-content h5 {
	font-weight:normal;
}
.yui-content h1 {
	font-size:1.6em;
	font-weight:normal;
}
.yui-content h2 {
	font-size:1.4em;
	font-weight:normal;
	color:black;
}

.yui-content h3, .yui-content h4 {
	color:black;
	border-bottom:1px solid #48802C;
}

.yui-nav li a {
 color: black; border: inherit; text-decoration: none;
}
.yui-nav li a em {
	background: url(../../images/new/plugins/tab_down_mid.png) repeat-x center top;	
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
}

.wikiActionMenu li a {
color: black; border: inherit; text-decoration: none;
}

.description h1 {
	padding-left:0px;
}
#addTagDialog a {
	display:none;
}
#addTagDialog {
	background-color:#F7F8F2;
	border:2px solid white;
	padding:10px;
	width:90%;	
}
.userForm {
	background-color:#F7F8F2;
	border:2px solid white;
	padding:10px;	
}
#loginForm {
	width:400px;
	padding-left:20px;
}
#loginForm form {
	margin-bottom:20px;
}
#btmSectionGraphicsWrapper {
	margin-top:30px;
}
#mountainLeft {
	z-index:-1;
}
#btmSectionGraphicsWrapper h2{
	margin-left:12%;
}
.wikiPage {
	width:95%;
}
#pluginTags span a {
	color:#48802C;
	text-decoration:none;
	border:1px solid #48802C;
	background-color:#E8E8E8;
	padding:3px;
}
