.logo {
	padding-left:100px;
	padding-top:10px;
	padding-bottom:20px;
	background-color:#1E2129;
}
.loginBox {
	position:absolute;
	right:0px;
	top:0px;
	background-color:black;
	padding-top:10px;
	padding-right:50px;
	padding-left:20px;
	padding-bottom:53px;
	color:white;
	width:230px;
}
#navPane {
	float:left;
	margin:3px;
	width:200px;
	padding:5px;

}
#navButtons {
	border:1px dashed grey;
	background-color:#F0F0F1;
	font-size:1.4em;	
	padding-bottom:10px;
}
#registerPane {
	border:1px dashed grey;
	background-color:#F0F0F1;
	font-size:1.4em;
	padding:5px;
	margin-top:10px;
}
#navPane ul {
	list-style-type:none;
}
#navPane li {
	padding-top:5px;
}

#contentPane {
	margin-left:250px;
	font-size:1.3em;
}
h1 {
	font-size:1.4em;
	color:#01D2FA;
	font-weight:bold;
	border-top: 1px dashed lightgrey;
	width:80%;
	margin-bottom:10px;
	margin-top:30px;
}
p {
	margin-top:10px;
	margin-bottom:10px;				
	width:80%;
}
#loginButton {
	padding:0px;
	border:0px;
	position:absolute;
	right:5px;
	top:100px;
}
.errorMessage {
	color:red;
	position:absolute;
	top:100px;
}
.spinner {
	position:absolute;
	top:150px;
	right:20px;
}
#top5Panel {
	float:right;
	margin-right:20px;
}
.top5Item {
	border:1px dashed grey;
	padding:10px;
	margin-bottom:10px;
	background-color:#F0F0F1;				
	width:200px;
}
.top5Item a:link, .top5Item a:visited {

}
.top5Panel h2 {
	font-size:1.2em;
}
.album {
	border:1px dashed grey;
	padding:10px;
	margin:30px;
	width:500px;
	min-height:300px;
	background-color:#F0F0F1;								
}
.album .albumArt {
	float:right;
	border:2px solid #01D2FA;
}
.album .albumTitle {
	font-size:1.2em;
	margin-bottom:10px;
	font-weight:bold;
}
.album .artistName {
	font-size:1.4em;
	margin-bottom:10px;
	font-weight:bold;
	color:#01D2FA;
	border-bottom:1px solid black;
	width:200px;
}

.albumTracks {
	margin-top:10px;
}
.resultsPane {
	margin:20px;
}
.resultsPane h2 {
	font-size:1.2em;
	color:#01D2FA;
	font-weight:bold;
	border-top: 1px dashed lightgrey;
	width:50%;
	margin-bottom:10px;
	margin-top:30px;				
}
.artistProfile {
	margin:30px;
}
.artistProfile h2 {
	font-size:1.4em;
	margin-bottom:10px;
	font-weight:bold;
	color:#01D2FA;
	border-bottom:1px solid black;
	width:200px;
}
.artistProfile .artistDetails {
	border:1px dashed grey;
	padding:10px;
	width:500px;
	min-height:300px;
	background-color:#F0F0F1;				
}
.artistAlbum {
	border:1px solid black;
	background-color:white;
	margin:5px;
	min-height:100px;
	padding:10px;
}
.artistAlbum img {
	float:left;
}
.artistAlbum ul {
	margin-left:120px;
}
.album .albumLinks {
	margin-top:20px;
}
.album .albumLinks a:link, .album .albumLinks a:visited{
	color:#01D2FA;
	font-size:0.9em;
	text-decoration:underline;
}
