<plugin name='simple-cache' version='0.1'>
  <author>Graeme Rocher</author>
  <authorEmail>graeme@g2one.com</authorEmail>
  <title>Simple caching plugin</title>
  <resources>
    <resource>BuildConfig</resource>
    <resource>com.g2one.cache.CacheService</resource>
    <resource>com.g2one.cache.CacheTagLib</resource>
  </resources>
  <dependencies />
</plugin>