<plugin name='plugin-views' version='0.1' grailsVersion='1.1-SNAPSHOT &gt; *'>
  <author>Your name</author>
  <title>Plugin summary/headline</title>
  <description>\
Brief description of the plugin.
</description>
  <documentation>http://grails.org/PluginViews+Plugin</documentation>
  <resources>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>PluginTestController</resource>
  </resources>
  <dependencies />
</plugin>