<plugin name='blog' version='0.1'>
  <author>Graeme Rocher</author>
  <authorEmail>graeme@g2one.com</authorEmail>
  <title>A blogging plugin</title>
  <resources>
    <resource>BuildConfig</resource>
    <resource>UrlMappings</resource>
    <resource>com.g2one.blog.PostController</resource>
    <resource>com.g2one.blog.Post</resource>
    <resource>FckeditorUrlMappings</resource>
    <resource>FckeditorController</resource>
    <resource>FckeditorTagLib</resource>
  </resources>
  <dependencies>
    <plugin name='fckeditor' version='0.8 &gt; *' />
  </dependencies>
</plugin>