<plugin name='db-util' version='0.3' grailsVersion='1.1.1 &gt; *'>
  <author>Tyler Williams</author>
  <authorEmail>kaerfredoc@gmail.com</authorEmail>
  <title>DB Utils - Embedded</title>
  <description>Embedded dbs, like derby &amp; in-memory HSQL only allow access from within the JVM that is accessing the db. This presents a problem that you cannot run an external db admin tool to work with the db while your grails app is running. To get around this limitation I wrote small plugin (1 controller &amp; 3 gsps) that can be used to admin the db within the running grails' app. 
There are three actions with the following urls described below...

/$appname$/dbUtil/info - Shows info about the db (tables/columns/column type, etc)
/$appname$/dbUtil/data - Outputs all the actual data alphabetically by table
/$appname$/dbUtil/sql - Allows free-form select/update/delete commands

Note: I've included commons-dbutils-1.1 from apache in the lib directory.

IMPORTANT: You will definitely want to protect this controller's url from unauthorized access since the sql action can be used to do just about anything.

DbutilController.groovy
data.gsp
info.gsp
sql.gsp</description>
  <documentation>http://grails.org/DbUtil+Plugin</documentation>
  <resources>
    <resource>Config</resource>
    <resource>UrlMappings</resource>
    <resource>BootStrap</resource>
    <resource>BuildConfig</resource>
    <resource>org.codehaus.groovy.grails.plugins.dbutil.DbUtilController</resource>
  </resources>
  <dependencies />
</plugin>