<plugin name='resources-to-copy' version='0.1' grailsVersion='1.1-SNAPSHOT &gt; *'>
  <author>Your name</author>
  <title>Plugin summary/headline</title>
  <description>\
Brief description of the plugin.
</description>
  <documentation>http://grails.org/ResourcesToCopy+Plugin</documentation>
  <resources>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
  </resources>
  <dependencies>
    <resolvers />
  </dependencies>
  <behavior />
</plugin>